GITHUB_TOKEN=github_pat_replace_me
GITHUB_OWNER=samypr100
GITHUB_REPO=gh-workflow-fiesta
GITHUB_REF=dev
TOKEN_SECRET=generate_with_openssl_rand_hex_32
USER_KEY_SECRET=generate_with_openssl_rand_hex_32
DEBUG=true
